body {
  margin: 0;
  padding: 0;
  background-color: #dce9ef;
  color: #025e7b;
}

span {
  font-size: 30vw;
  font-family: "B612 Mono", monospace;
  vertical-align: top;
  user-select: none;
}

.punctuation {
  font-family: "Cutive Mono", monospace;
  font-weight: bold;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.timer {
  grid-column: 1/4;
  grid-row: 2/3;
  display: flex;
  align-items: center;
  justify-content: center;
}

#tenths {
  grid-column: 3/2;
  grid-row: 3/4;
  font-size: 5vw;
  text-align: center;
}

.buttons {
  padding: 8px;
  position: fixed;
}

button {
  padding: 4px 8px;
  background-color: #dce9ef;
  border-radius: 2px;
  color: #686767;
  border-color: #68676726;
}

button:hover {
  background-color: #015e7b;
  color: white;
}
