:root {
  --dark-color: #035e7b;
  --light-color: #dce9ef;
  --highlight-color: #e4602e;
  --text-color: var(--dark-color);
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--light-color);
  color: var(--text-color);
}

span {
  font-size: 30vw;
  font-family: "B612 Mono", monospace;
  vertical-align: top;
  user-select: none;
}

.punctuation {
  font-family: "Cutive Mono", monospace;
  font-weight: bold;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-rows: 25% 50% 25%;
  grid-template-columns: 1fr 1fr 1fr;
}

.timer {
  grid-column: 1/4;
  grid-row: 2/3;
  display: flex;
  align-items: center;
  justify-content: center;
}

#tenths {
  grid-column: 3/2;
  grid-row: 3/4;
  font-size: 5vw;
  text-align: center;
}

.buttons {
  padding: 8px;
  position: fixed;
  user-select: none;
}

.button {
  padding: 4px 8px;
  background-color: var(--light-color);
  display: inline-block;
  color: #686767;
  border: 1px solid #68676726;
  border-radius: 2px;
  font-family: system-ui;
  font-size: 11px;
}

.button:hover {
  background-color: var(--dark-color);
  color: white;
}
