:root {
  --color: #025e7b;
  --border-width: var(--border-width-off);
  --transition: var(--transition-in);
  --border-width-on: 25vh;
  --border-width-off: 0px;
  --transition-in: border-width 1s cubic-bezier(0.25, 0.75, 1, 0.1);
  --transition-out: border-width 0.2s;
}

.container {
  box-sizing: border-box;
  background-color: #dce9ef;
  color: var(--color);
  border: var(--border-width) solid var(--color);
  border-left-width: 0;
  border-right-width: 0;
  transition: var(--transition);
}

#tenths {
  display: none;
}
