:root {
  --border-color: #025e7b;
  --border-width: 8px;
}

body {
  width: calc(100% - (var(--border-width) * 2));
  height: calc(100vh - (var(--border-width) * 2));
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #dce9ef;
  color: #025e7b;
  border: var(--border-width) solid var(--border-color);
}

span {
  font-size: 30vw;
  font-family: "B612 Mono", monospace;
}

.container {
  font-size: 0;
}

.punctuation {
  font-family: "Cutive Mono", monospace;
  font-weight: bold;
}
