:root {
  --border-color: #025e7b;
  --border-width: var(--border-width-off);
  --border-width-on: 20px;
  --border-width-off: 0px;
}

.container {
  box-sizing: border-box;
  border: var(--border-width) solid var(--border-color);
  border-left-width: 0;
  border-right-width: 0;
}

#tenths {
  display: none;
}
