:root {
  --selected-button-border: var(--dark-color);
  --unselected-button-border: #68676726;
}

.buttons {
  padding: 8px;
  position: fixed;
  user-select: none;
}

.button {
  vertical-align: bottom;
  padding: 4px 8px 5px 8px;
  background-color: var(--light-color);
  display: inline-block;
  color: #686767;
  border: 1px solid var(--unselected-button-border);
  border-radius: 2px;
  font-family: system-ui;
  font-size: 11px;
}

.buttons > .button:first-child {
  border-color: var(--selected-button-border);
}

.button:hover {
  background-color: var(--dark-color);
  color: white;
}

.button:active {
  background-color: #207c99;
}

#github {
  padding: 3px 8px 3px 8px;
}

svg {
  vertical-align: top;
}

path {
  fill: #686767;
}
