:root {
  --dark-color: #035e7b;
  --light-color: #dce9ef;
  --highlight-color: #e4602e;
  --text-color: var(--dark-color);
}

body {
  background-color: var(--light-color);
  color: var(--text-color);
}

span {
  font-size: 30vw;
  font-family: "B612 Mono", monospace;
  vertical-align: top;
  user-select: none;
}

.punctuation {
  font-family: "Cutive Mono", monospace;
  font-weight: bold;
}

#tenths {
  font-size: 5vw;
  text-align: center;
}
