:root {
  --color: #025e7b;
  --border-width: 0;
  --transition: border-width 1s cubic-bezier(0.25, 0.75, 1, 0.1);
  --animation: none;
}

body {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #dce9ef;
  color: var(--color);
  border: var(--border-width) solid var(--color);
  border-left-width: 0;
  border-right-width: 0;
  transition: var(--transition);
  animation: var(--animation);
}

span {
  font-size: 30vw;
  font-family: "B612 Mono", monospace;
  vertical-align: top;
}

.container {
  font-size: 0;
}

.punctuation {
  font-family: "Cutive Mono", monospace;
  font-weight: bold;
}
